// Color Palette
$background-color: #098c85 ;
$text-color: #6d3256 ;


// Color Variables
$primary-color: #3498db; // Example color
$border-radius: 8px;
$padding: 10px;


// Font Sizes
$base-font-size: 16px;
$xsmall-font-size: 10px;
$small-font-size: 14px;
$medium-font-size: 18px;

$large-font-size: 20px;


// Spacing
$padding: 10px;
$padding-small: 6px;    
$margin: 10px;

// Border Radius
$border-radius: 8px;
