@use "@/styles/variables" as vars;

.select-function-dropdown {
  background: rgb(177, 15, 15);
  border: 1px solid vars.$primary-color;
  border-radius: vars.$border-radius;
  padding: vars.$padding;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .rs-dropdown {
    background: vars.$background-color;
  }

  .rs-dropdown-menu {
    background: white;
    border-radius: vars.$border-radius;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .rs-dropdown-item {
    color: vars.$text-color;
    font-size: vars.$base-font-size;
    padding: vars.$padding;

    &:hover {
      background-color: lighten(vars.$primary-color, 20%);
      color: white;
   
    }
  }
}